# These are the ignores for the monorepo-root; most ignores should be duplicated in the individual
# modules.

# Merlin's various log-files (the lack of escapes is intentional!)
*merlin-log*

# Lerna errors appear here
lerna-debug.log

# ocamlbuild working directory
**/_build/

# opam directory-local switch
_opam/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/
